*.pyc
.virtualenv
.DS_Store
nohup.out
flask_application/static/.webassets-cache
flask_application/static/gen/
flask_application/static/uploads/
flask_application/static/pages
flask_application/test.db
flask_application/config.py
flask_application/pages
help/
uploads/
uploads
environment/
venv/
venv2/
flask_application/script.py.old          
flask_application/static/contact.htm
flask_application/static/ftr.htm
flask_application/static/hashes.txt
flask_application/static/js/welcome.js
flask_application/static/takedowns.htm
