{% extends "security/index.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{%- from "collection/macros.html" import show_collections_list, add_to_collection_form, collection_js with context %}
{%- from "thing/macros.html" import show_thing with context %}
{%- from "bootstrap/macros.html" import render_pagination %}


{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
      <h2>{{title}}</h2>

			{% set cdate = '' %}
			{% for thing in things %}
				{% set date = thing.created_at|datetimeformat %}
				{% if date!=cdate %}
				<h4 class="text-muted">{{ date }}</h4>
				{% endif %}
				{% set cdate = date %}
				{{ show_thing(thing) }}
			{% endfor %}

			{{ render_pagination(pagination, endpoint, params) }}
   
    </div>
    <div class="col-md-3">
            {% if public and (current_user.has_role('admin') or current_user.has_role('editor')) -%}
            <span class="text-success">{{ user.email }}</span>
            {% if user.invited_by %}
                <p>invited by: <a class="yo" href="{{ url_for('user.public_profile', id=user.invited_by.id) }}">{{ user.invited_by.username }}</a></p>
            {% endif %}

            {% for u in user.invited %}
                <p>invited: <a class="yo" href="{{ url_for('user.public_profile', id=u.id) }}">{{ u.username }}</a></p>
            {% endfor %}
            {% endif -%}
            {% if not public %}
    		<p>
    			Do you want to <a class="yo" href="{{ url_for('user.edit_profile') }}">edit your profile</a>?
    		</p>
    		<p>
    			Do you want to <a class="yo" href="{{ url_for_security('change_password') }}">change your password</a>?
    		</p>
            {% endif %}
        <small class="text-muted">COLLECTIONS</small>
        {{ show_collections_list(collections|sort(attribute='title'), None) }}
    </div>
</div>
{% endblock %}