{% extends "bootstrap/layouts/base_navbar_responsive.html" %}
{%- from "frontend/macros.html" import follow_toggle %}

{% block title %}
{{title}}: {{query}}
{% endblock %}

{% block content %}

<div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <a href="{{ url_for('frontend.research', query=query) }}">Click here for full text search</a>
</div>


<h2>{{title}}: {{query}}</h2>

<div class="row">
  <form class="form-search" action="" method="get">
    <div class="input-group">
      <input type="text" name="query" class="form-control search-query" placeholder="{{query}}">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>
</div>
{% if not query=="" %}
<div class="row">
  <div class="col-md-5">
    
    <div class="panel panel-default" id="things">
      <div class="panel-heading">Things</div>
      <div class="panel-body">
        Looking...
      </div>
    </div>

    <div class="panel panel-default" id="discussions">
      <div class="panel-heading">Discussions</div>
      <div class="panel-body">
        Looking...
      </div>
    </div>

  </div>
  <div class="col-md-4">

    <div class="panel panel-default" id="makers">
      <div class="panel-heading">Makers</div>
      <div class="panel-body">
        Looking...
      </div>
    </div>

    <div class="panel panel-default" id="collections">
      <div class="panel-heading">Collections</div>
      <div class="panel-body">
        Looking...
      </div>
    </div>


  </div>
</div>
{% endif %}

{% endblock %}


{% block js_footer %}
<script>
  // sorting the things
    $(document).ready( function() {
      function doSearch($ele, query, url) {
        $.ajax({
            type: 'get',
            data: {'ajax':true, 'query': query},
            url: url,
            success: function(data) {
              $ele.find('.panel-body').remove();
              $ele.find('.results').remove();
              $ele.append(data);
              if (data.trim()!="") {
                $ele.find('.panel-heading').append(
                  $('<a>').addClass("pull-right").attr('href', url+"?page=2&query="+query).text("see more?")
                );
              }
            }
        });
      }
      doSearch($('#things'), "{{query}}", "{{ url_for('frontend.search', type='things') }}");
      doSearch($('#makers'), "{{query}}", "{{ url_for('frontend.search', type='makers') }}");
      doSearch($('#discussions'), "{{query}}", "{{ url_for('frontend.search', type='discussions') }}");
      doSearch($('#collections'), "{{query}}", "{{ url_for('frontend.search', type='collections') }}");
      
    });
</script>
{% endblock %}