<script src="{{ url_for('static', filename='js/figleaf.js') }}"></script>
    

{# if current_user.is_authenticated() and preview #}
{% if preview %}
{% set preview = preview|replace('upload/processed-jpgs','static/pages') %}
<div id="figleaf" class="preview" style="position: relative;">
    <img src="{{ preview }}">
</div>
{% endif %}

<script>
var $figleaf = document.getElementById("figleaf");
var figleaf = new Figleaf($figleaf, "{{ preview|replace('50x72.jpg', '') }}"); 
var p = window.location.hash.substring(1);
if (p) {
    figleaf.reference(p);
} 
</script>
