<html>
<head>
<title>
{% for thing in things %}
{{ thing.makers_display }}, {{ thing.title }} 
{% endfor %}
</title>
<script src="{{ url_for('static', filename='js/figleaf.js') }}"></script>
</head>
<div>
{% for thing in things %}
<p><em><a href="{{ url_for('thing.detail', id=thing.id) }}">{{ thing.title }}</em></a> {{ thing.makers_display }}</p>
{% endfor %}
</div>
{# if current_user.is_authenticated() and preview #}
{% if preview %}
{% set preview = preview|replace('upload/processed-jpgs','static/pages') %}
<div id="figleaf" class="preview" style="position: relative;">
    <img src="{{ preview }}">
</div>
{% endif %}

<script>
var $figleaf = document.getElementById("figleaf");
var figleaf = new Figleaf($figleaf, "{{ preview|replace('50x72.jpg', '') }}"); 
var p = window.location.hash.substring(1);
figleaf._populate_pages(0);
// add annotations
{% for annotation in annotations %}
figleaf.annotation({{ annotation.pos }}, '{{ annotation.url }}');
{% endfor %}
// if there is a reference, go to it
if (p) {
    figleaf.reference(p);
} 
</script>
</html>