body a {
	color: #000;
}

body a.yo {
	background-color: #ffff00;
}

h4.text-muted {
	color: #CCC;
}

.listed-thing dt {
	font-family:  'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.listed-thing .maker {
	color: #999;
}

.table-sort-handle {
	border-right: none;
}
.table-sort-handle span {
    vertical-align: middle;
    cursor: pointer;
}

/* no logos! aaaaarg, ok, just one */
.aaaaarg {
	font-size: 200px;
	position: absolute;
	font-weight:bold;
	top:-200px;
	color: #666;
}

.navbar.navbar-inverse a,
.navbar-inverse .navbar-nav > li > a {
	color: #ddd;
}

.listed-thing.request {
	opacity: .5;
}

/* progress bar */
.bar {
    height: 18px;
    background: green;
}

.popover-trigger {
	display: inline-block;
}

.popover-trigger:hover {
	cursor: pointer;
}

.popover select#collection {
	width: 180px;
}

.panel.subcollection {
	margin-bottom: 0px;
	margin-top: 30px;
}

.uploads-panel {
	margin-top: 30px;
}