body a {
	color: #000;
}

body a.yo {
	background-color: #ffff00;
}

h4.text-muted {
	color: #CCC;
}

ul.nav ul.dropdown-menu li a {
	color: #333;
}

.listed-thing dt {
	font-family:  'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.listed-thing .maker {
	color: #999;
}

.table-sort-handle {
	border-right: none;
}
.table-sort-handle span {
    vertical-align: middle;
    cursor: pointer;
}

/* no logos! aaaaarg, ok, just one */
.aaaaarg {
	font-size: 200px;
	position: absolute;
	font-weight:bold;
	top:-200px;
	color: #666;
    width: 100%;
    overflow: hidden;
}

/* increase bottom margin so logo doesn't overlap and interfere with hyperlinks in sidebar */
.navbar {
    margin-bottom: 34px;
}

.navbar.navbar-inverse a,
.navbar-inverse .navbar-nav > li > a {
	color: #ddd;
}

/* this rule overrides bootstrap defaults that cause a gap between the input group of input + button */
.navbar input[type="text"] {
    /* bootstrap sets width to 'auto' which doesn't extend all the way across */
    width: 100%;
}

/* for some reason, using a glyph as button text causes padding to be messed up. I suspect this is a problem
specific to the version of bootstrap currently in use. when that's upgraded, we should we able to remove this hack. */
.button-with-glyph-hack {
    padding: 9px 12px;
}

.listed-thing.request {
	opacity: .5;
}

/* progress bar */
.bar {
    height: 18px;
    background: green;
}

.popover-trigger {
	display: inline-block;
}

.popover-trigger:hover {
	cursor: pointer;
}

.popover select#collection {
	width: 180px;
}

.panel.subcollection {
	margin-bottom: 0px;
	margin-top: 30px;
}

.uploads-panel {
	margin-top: 30px;
}

ul.fulltext.results li em {
	background-color: #FFFF00;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ul.compiler {
	list-style: none;
	list-style-type: none;
}

ul.compiler li {
	margin: 20px;
	padding: 20px;
	background-color: #EEE;
	width: 130px;
}

ul.compiler li.placeholder {
  position: relative;
  /** More li styles **/
}
ul.compiler li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

ul#toc {
	width: 100%;
	height: 100%;
	background-color: #CCFFCC;
}

ul#toc li {
	display: inline-block;
	background-color: #FFF;
	margin: 10px;
}

/* figleaf styles */
div.circle {
	cursor: pointer;
  border: 3px solid green;
  border-radius: 50%;
  opacity: 0.5;
  width: 20px; height: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.dot {
	cursor: pointer;
	background-color: green;
  border-radius: 50%;
  opacity: 0.5;
  width: 12px; height: 12px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.glance {
	display: none;
	z-index: 20;
	position: absolute;
	border: 1px dotted green;
}
div.glance a {
	position: absolute;
	left: 4px;
	top: 2px;
	background-color: blue;
	color: white;
}
div.section-select {
	position: absolute;
	top: 0px;
	left: 0px;
}

div.metadata {
	background-color: #EFEFEF;
	font-size: 0.8em;
	font-family: monospace;
	padding: 8px;
}