{% extends "bootstrap/layouts/base_navbar_responsive.html" %}
{%- from "thing/macros.html" import show_thing with context %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <div class="btn-group">
            <a class="btn btn-xs btn-default" href="{{ url_for('queue.edit_thing', id=queue.id, item_id=queued_thing.id) }}">edit</a>
        </div>

        <h2><span class="text-muted">Notes: </span>{{title}}</h2>
        
        <div><strong>{{queued_thing.short_description}}</strong></div>

        <div><p>{{queued_thing.description|markdown}}</p></div>

        <hr>
        <div>
            <em>
                {{queued_thing.creator.username}}
                {% if queued_thing.date_completed %}
                , {{ queued_thing.date_completed|datetimeformat}}
                {% endif %}
            </em>
        </div>

    </div>
    <div class="col-md-3">
        <p><a class="yo" href="{{ url_for('thing.detail', id=queued_thing.thing.id) }}">see text</a></p>
        <hr>
        <small class="text-muted">
        <a class="yo" href="{{ url_for('queue.detail', id=queue.id) }}#finished">{{ queue.title|upper}}</a> NOTES
        </small>
        <ul class="list-group">
        {% for qt in queue.things|selectattr("description")|sort(attribute='date_completed', reverse=True) %}
        <li class="list-group-item">
        {% if not qt.id==queued_thing.id %}<a href="{{ url_for('queue.detail_thing', id=queue.id, item_id=qt.id) }}">{% endif %}
        {{qt.thing.title}}
        {% if qt.subtitle %}: {% endif %} 
        {{ qt.subtitle }}
        {% if not qt.id==queued_thing.id %}</a>{% endif %}
        </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

