{% extends "bootstrap/layouts/base_navbar_responsive.html" %}
{%- from "bootstrap/macros.html" import popover %}
{%- from "thing/macros.html" import sort_thing_js with context %}
{%- from "upload/macros.html" import upload_css, upload_js, uploader, uploads with context %}
{%- from "collection/macros.html" import show_collections_list, add_to_collection_form, collection_js with context %}
{%- from "maker/macros.html" import show_makers_with_roles with context %}
{%- from "talk/macros.html" import show_threads_list with context %}
{%- from "frontend/macros.html" import follow_toggle %}

{% if preview %}
{# handling symlinking of processed jpgs directory so nginx can serve these #}
{#% set preview = preview|replace('upload/processed-jpgs','static/pages') %#}
{% endif %}

{% block css_extra %}
    {{ upload_css() }}
{% endblock %}

{% block js_footer %}
    {{ upload_js() }}
    {{ collection_js() }}
    {{ sort_thing_js() }}
    {% if preview %}
    <script src="{{ url_for('static', filename='js/figleaf.js') }}"></script>
    <script>
    var $figleaf = document.getElementById("figleaf");
    var figleaf = new Figleaf($figleaf, "{{ preview|replace('50x72.jpg', '') }}");
    var p = window.location.hash.substring(1);
    if (!isNaN(parseFloat(p)) && isFinite(p)) {
        figleaf.seek(p);   
    } 
    </script>
    {% endif %}
{% endblock %}

{% block title %}
{{thing.title}}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <div class="btn-group btn-group-xs">
            {% if can_edit_thing(thing) %}
            <a class="btn btn-default" href="{{ url_for('thing.edit', id=thing.id) }}">edit</a>
            {% endif %}
            {%- if current_user.is_authenticated() -%}
            {{ follow_toggle(thing) }}
            {%- endif %}
        </div>

        <h2>{{thing.title}}</h2>

        <h5>{{ show_makers_with_roles(thing.makers) }}</h5>

        
        <p><br/></p>

        <div><p class="lead">{{thing.short_description}}</p></div>

        <div><p>{{thing.description}}</p></div>

        <p><small class="text-muted">
            {% set comma = joiner(", ") %}
            {% for c in contributors %}
            {{ comma() }}
            <a href="{{ url_for('user.public_profile', id=c.id|trim) }}">{{c.username}}</a>
            {% endfor %}
        </small></p>

        {% if preview %}
        <div id="figleaf" class="preview" style="position: relative;">
            <img src="{{ preview }}">
        </div>
        {% endif %}

        {% if can_view_file_for_thing(thing) %}
        <div class="panel panel-default uploads-panel">
            <div class="panel-body">
            {{ uploads(thing.files, thing) }}
            {% if can_add_file_to_thing(thing) %}
            <div class="upload">
                {{ uploader(upload_form, thing) }}
            </div>
            {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-md-3">
        <div class="sortable-thing">
            {{ popover('<h3>+</h3>', thing.title, remote=url_for('thing.sort_actions', id=thing.id, hide='collections')) }}
        </div>
        <small class="text-muted">
            DISCUSSIONS 
            {% if can_create_thread() %}
            <a href="{{url_for('talk.add', type='Thing', id=thing.id)}}">start another</a>
            {% endif %}
        </small>
        {{ show_threads_list(threads) }}
        <small class="text-muted">COLLECTIONS</small>
        <div class="ajax-content-loader" data-url="{{ url_for('collection.list_for_thing', thing_id=thing.id) }}">Loading...</div>
    </div>
</div>

{% endblock %}
