{% extends "bootstrap/layouts/base_navbar_responsive.html" %}
{%- from "bootstrap/forms/macros.html" import render_field %}


{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post" name="thing">
        {{form.hidden_tag()}}
        {{render_field(form.title, size=255)}}
        {{render_field(form.text, size=255, **{'data-provide':'markdown'})}}
        <p><button class="btn btn-primary" type="submit">Create Discussion</p>
    </form>
{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}">
{% endblock %}


{% block js_footer %}
<script src="{{ url_for('static', filename='js/bootstrap-markdown.js') }}"></script>
{% endblock %}